<head>
</head>

<body style="text-align: center;" bgcolor="#1B7F79">
    
       

     <h1>Adrian Arevalo</h1>
     <p ><img  src="https://scontent.fcue1-1.fna.fbcdn.net/v/t1.18169-9/29356763_772139789642396_9050943639308214738_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH90a9x9VwR_Lftcu_DdxwSZ1_1HaQs6mdnX_UdpCzqZzIRqewNhbjp5Mb0hOfGx93qXio8OkqqnMOO3QUDmc-c&_nc_ohc=Gt_i1UYondkAX_0cZbq&_nc_ht=scontent.fcue1-1.fna&oh=00_AfAVMURSOlx_q1bPeJgo3qNlv948za6kNz0zalGoYk3nLg&oe=63DA817D"></p>
     <h1>Curso</h1>
     <h2>3E2</h2>
     <h1>Numero: 0998102159</h1>
     <h1>Instagram: </h1>
     <a style="font-size: large;" href="https://www.instagram.com/adriann__ar/">Adriann_ar</a>
     <h1></h1>
     <h1>Comida favorita: Pizza </h1>
     <h1>Pasatiempos: Videojuegos </h1>
     <button (click)="nav()" >Siguiente</button>
        
   
 
</body>


